<!DOCTYPE html>
<html >
	<head>
		<title>Robert St. Lezin Portfolio Website</title>
		<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="styles/styles.css">
		<link href="node_modules/angular-jk-carousel/dist/jk-carousel.css" rel="stylesheet" type="text/css" />
	</head>
	<body ng-app="myWebsite" ng-controller="control">
		<div class="navigation" layout="row">
			<ul>
				<li ng-click="blog()">Blog</li>
				<li ng-click="secondSection()">Skills</li>
				<li ng-click="showcase()">Projects</li>
			</ul>
		</div>
			<div class="background-pic" layout="row" layout-align="center center" >
					<div flex>
						<md-button class="md-fab md-accent" aria-label="Message me">
						<a href="mailto:robstlezin@gmail.com?Subject=Hello%20Rob"><md-icon md-svg-src="./img/envelope.svg" style="width: 24px; height: 24px;"></md-icon></a>
						</md-button>
					</div>
					<div flex>
						<div class="circle">
						<img angular-ripple ng-src="./img/me_icon.png">
						</div>
					</div>
					<div flex>
						<md-button  class="md-fab md-accent" aria-label="Call Me">
						<a href="tel://1-801-502-3196"><md-icon md-svg-src="./img/phone-receiver.svg" style="width: 24px; height: 24px;"></md-icon></a>
						</md-button>
					</div>
			</div>
				<section angular-ripple class="hello">
					<jk-carousel data="arrayData" item-template-url="'templates/sliderTemplate.html'" auto-slide="true" auto-slide-time="3500" max-height="400";>
					</jk-carousel>
				</section>
				<div ng-click="secondSection()" class="icon-center"><md-icon  md-svg-src="./img/chevron-arrow-down.svg" style="width: 75px; height: 75px;"></md-icon></div>
				
				<div id="second-section"></div>
					<div class="header">
							<h3>CORE SKILLS
								<md-divider ></md-divider>
							</h3>
						<div layout="row" id="my-skills-content"  layout-align="center center">
							<div flex>
								<div class="spec-skill">HTML/CSS</div>
								<md-icon id="html-css" md-svg-src="./img/web-design.svg" style="width: 50px; height: 50px;"></md-icon>
							</div>
							<div flex>
								<div class="spec-skill">JAVASCRIPT</div>
								<md-icon id="js" md-svg-src='./img/interface.svg' style="width: 50px; height: 50px;"></md-icon>
							</div>
							<div flex>
								<div class="spec-skill">ANALYTICS/SEO</div>
								<md-icon id="analytics-seo" md-svg-src="./img/line.svg" style="width: 50px; height: 50px;"></md-icon>
							</div>	
						</div>
					</div>
				
				<div class="header">
					<h3 id="showcase">SHOWCASE</h3>
					<div ng-repeat="project in projects">
						<card project="project"></card>
					</div>
				</div>
					
				
			<!--<div flex>
			Icon made by Freepik from www.flaticon.com 
			-->
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-aria/angular-aria.js"></script> 
		<script src="node_modules/angular-animate/angular-animate.js"></script> 
		<script src="node_modules/angular-material/angular-material.js"></script> 
		<script src="node_modules/angular-jk-carousel/dist/jk-carousel.js"></script>
		<script src="bower_components/angular-ripple/angular-ripple.js"/></script>
		<script src="app.js"></script>
		<script src="/directives/cardDirective.js"></script>-->


		
		<!--<script src="/scripts/angular.js"></script>
		<script src="/scripts/angular-aria.js"></script> 
		<script src="/scripts/angular-animate.js"></script> 
		<script src="/scripts/angular-material.js"></script> 
		<script src="/scripts/angular-carousel.js"></script> 
		<script src="/scripts/angular-touch/angular-touch.js"></script>
		<script src="/app.js"></script>
		<script src="/directives/cardDirective.js"></script>-->
	</body>
</html>