
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <a href="{{project.url}}"><span class="md-headline">{{project.title}}</span></a>
            <span class="md-subhead">{{project.type}}</span>
          </md-card-title-text>
        </md-card-title>
        
        <md-card-content layout="row" layout-sm layout-xs="column" layout-align="space-between">
            <div flex style="text-aling:center;" angular-ripple  class="card-image">
                <img ng-src="{{project.img}}" style="text-align:right;">
	          </div>
        
            <div flex>
              <p>{{project.exp}}</p>
            </div>
        </md-card-content>
     
    </md-card>
