
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{project.title}}</span>
            <span class="md-subhead">{{project.type}}</span>
          </md-card-title-text>
        </md-card-title>
        <a href="{{project.url}}">
        <md-card-content layout="row" layout-align="space-between">
             <div class="full-width-image" style="background-image:url({{project.img}}); background-size:cover;width: 100%; 
	height: 400px;">
	          </div>
        </md-card-content>
        </a>
    </md-card>
