html, body {
	font-family: 'Play', sans-serif;   width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	font-size:16pt;
	background-color: #f5f5f5;
	color:#292f33;
}

h2, h3 {
	font-weight: bold;
	margin:10px;
	color: #ff4081;
   text-shadow: 0 1px 0px #e6e6e6;
  

}

.navigation {
	width:100%;
	background-color: white;
	color:#ff4081;
	-webkit-box-shadow: -1px 6px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 6px 16px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 6px 16px 0px rgba(0,0,0,0.75);

}

.navigation ul {
	width: 100%;
	margin: 0px;
}

.navigation li {
	display: inline-block;
	width:100px;
	height:75px;
	line-height: 3.5em;;
	text-align: center;

	transition: all .3s ease-in-out;
}


 #nav li:hover{
background-color: #ff4081;
color:white;
border-left:.25px solid grey;
border-right:.25px solid grey;
margin-top:10px;
margin-bottom:10px;

transform: scale(1.24); 

}

.social-icons {
text-align: right;

}

.social-icons li a {
transition: all .3s ease-in-out;

}

.social-icons li:hover {
transform:scale(1.3);
}


.middle {
	padding-top: 10%;
}


.circle {
	width:100%;
	height:100%;
	margin:5% auto 5% auto;
}



.circle img {
	transition: all .3s ease-in-out;
	max-width: 100%;
	min-width: 150px;
	height: auto;
	z-index: 4;
	
}

.circle img:hover {
	transform: scale(1.1);
	

}

.icon-center {
	text-align:center;
}


section {
	background-color:rgba(0,0,0,.1);
	padding: 10px;
	z-index: 3;
    box-shadow: inset 0 -3px #e6e6e6;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.08);

}

.hello{
	background-color: #2F3F69;
	color:white;
	border-radius: 4px;
	width:100%;
	text-align: center;
	-webkit-box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 3px 16px 0px rgba(0,0,0,0.75);

}



.hello h2 {
	font-size:3em;
	margin-top:10px;
	margin-bottom:20px;

	
}

.hello p {
	text-align: justify;
	width: 70%;
	margin: 0px auto;
	padding-bottom:50px;
}

#about p {
	text-align: justify;
	width:80%;
	margin:0px auto;
}

.header{
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
	background-color:white;
	border:.5px;
	z-index: 3;
	box-shadow: inset 0 -3px #e6e6e6;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.08);
	border-radius: 4px;

	width:90%;
	margin: 75px auto;


}

.md-button.md-fab{
	z-index:9;
	width:100px;
	height:100px;
	transition: all .3s ease-in-out;

}	

.md-button.md-fab:hover{
	z-index:9;
	width:100px;
	height:100px;
	transform: scale(1.2);
}



 h3 {
	background-color:#4385f5;
	color:white;
	padding-top: 3px;
	padding-bottom: 3px;
}

.card-image img,p {
	margin: 15px;
	text-align: left;
}

.card-image p {

}

.footer {
	position: relative;
	font-size: .5em;
	height: 100px;
	width: 100%;
	background-color: #292f33;
	color:white;

}

.footer a {
	display: block;
	text-decoration: none;
	color: white;
}

.footer ul {
	position: absolute;
	width: 20%;
	left:80%;
}

.footer ul li {
	text-align: justify;
	list-style-type: none;
	font-size: 1em;
}



#second-section {
padding-top:15px;
}



#my-skills-content{
	text-align: center;
	width:100%;
	height: 20%;
	padding-bottom:30px;
	margin-top:3%;

}

.spec-skill{
	padding-bottom:5%;
	margin-bottom:10px;
}



#html-css{
fill:#ff4081;
transition: all .2s ease-in-out;
}

#html-css:hover{
transform: scale(1.5); 


}
#js{
fill:#ff4081;
transition: all .2s ease-in-out;

}

#js:hover{

transform: scale(1.5);
}

#analytics-seo{
fill:#ff4081;
transition: all .2s ease-in-out;

}

#analytics-seo:hover{
	
	transform: scale(1.5);
}


/*angular ripple directive custom css*/

 
  .angular-ripple {
    display: block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    transform: scale(0);
  }
  .angular-ripple.animate {
    animation: ripple 0.35s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

  /*jk-carousel custom style */
  .jk-carousel .ng-isolate-scope {
  	height:300px;
  }

/*tablet media queries*/

  @media (max-width:900px){
	  .spec-skill {
		  display: none;
	  }

	  #html-css, #js, #analytics-seo {
		padding: 5px;
	  }

  }

  @media (max-width:578px){

	.big:hover{
	background-color: #ff4081;
	color:white;
	width:290px;

	}

	.social-icons {
		width: 15px;
	}


  }

  /*phone media queries*/

  @media (max-width:400px) {
	.circle {
		width:150px;
		height:150px;
		margin:-10px;
	}

	

	.navigation{
		display: none;
	}

	.hello {
		margin:0px;
		width:100%;
	}

	.hello h2{
		font-size:1em;
		margin-top:20px;
		
	}

	.hello p {
		font-size:14pt;
	}

	.background-pic{
		height: 20%;
		background-position: left center;
	}

	.md-button.md-fab{
	text-align: center;
	z-index:9;
	width:75px;
	height:75px;
	transition: none;
	transition: all .3s ease-in-out;

	}


	.md-button.md-fab:hover{
		z-index:9;
		width:100px;
		height:100px;
		transform: scale(.9);
	}
}

  /** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/